# Python cache
__pycache__/
*.pyc

# Virtual environments
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Raw data
house_rawdata/
main_house_rawdata/
cleaning_house_rawdata/
downloads/
*.csv
*.zip
*.bat

# ChromeDriver
chromedriver.exe

# OS
.DS_Store
Thumbs.db

# Backups
*.bak
